li
  a(href='')
    span
      span.siteHeaderMobile__collectionBG
      span Футболки
li
  a(href='')
    span
      span.siteHeaderMobile__collectionBG
      span Свитшоты
li
  a(href='')
    span
      span.siteHeaderMobile__collectionBG
      span Свитшоты
li
  a(href='')
    span
      span.siteHeaderMobile__collectionBG
      span Свитшоты
