ul.siteHeaderMobile__menu-baseSlide
  li.siteHeaderMobile__menu-men
    div
      span
        svg(viewbox='0 0 48 48')
          use(xlink:href='#icon-men')
        span Мужчинам
      svg.siteHeaderMobile__arrow(viewbox='0 0 48 48')
        use(xlink:href='#icon-arrow')
      include men.pug
  li.siteHeaderMobile__menu-woman
    div
      span
        svg(viewbox='0 0 48 48')
          use(xlink:href='#icon-woman')
        span Женщинам
      svg.siteHeaderMobile__arrow(viewbox='0 0 48 48')
        use(xlink:href='#icon-arrow')
      include woman.pug
  li.siteHeaderMobile__menu-boy
    div
      span
        svg(viewbox='0 0 48 48')
          use(xlink:href='#icon-boy')
        span Мальчикам
      svg.siteHeaderMobile__arrow(viewbox='0 0 48 48')
        use(xlink:href='#icon-arrow')
  li.siteHeaderMobile__menu-girl
    div
      span
        svg(viewbox='0 0 48 48')
          use(xlink:href='#icon-girl')
        span Девочкам
      svg.siteHeaderMobile__arrow(viewbox='0 0 48 48')
        use(xlink:href='#icon-arrow')
  li.siteHeaderMobile__menu-collections
    div
      span
        img(src='images/hit.svg', style='width:64px;height:64px;margin:-8px 0;display: block;padding: 0 6px;pointer-events: none;')
        span Топ 12 коллекций
      svg.siteHeaderMobile__arrow(viewbox='0 0 48 48')
        use(xlink:href='#icon-arrow')
  li.siteHeaderMobile__menu-discont
    a(href='')
      span
        svg(viewbox='0 0 48 48')
          use(xlink:href='#icon-discont')
        span Ликвидация склада -65%
  li.siteHeaderMobile__menu-yourDesign
    a(href='')
      span
        svg(viewbox='0 0 48 48')
          use(xlink:href='#icon-yourDesign')
        span Свой дизайн
  li.siteHeaderMobile__menu-likedProducts
    a(href='')
      span
        svg(viewbox='0 0 48 48')
          use(xlink:href='#icon-heart')
        span Избранное
  li.siteHeaderMobile__menu-opt
    a(href='')
      span
        svg(viewbox='0 0 48 48')
          use(xlink:href='')
        span Оптовым клиентам
  li.siteHeaderMobile__menu-partner
    a(href='')
      span
        svg(viewbox='0 0 48 48')
          use(xlink:href='')
        span Партнерская программа
  li.siteHeaderMobile__menu-forDesiginers
    a(href='')
      span
        svg(viewbox='0 0 48 48')
          use(xlink:href='')
        span Дизайнерам
