ul
  li
    a(href='')
      span
        svg(viewbox='0 0 48 48')
          use(xlink:href='#icon-shirt')
        span Футболки
  li
    a(href='')
      span
        svg(viewbox='0 0 48 48')
          use(xlink:href='#icon-sweatShirt')
        span Свитшоты
  li
    a(href='')
      span
        svg(viewbox='0 0 48 48')
          use(xlink:href='#icon-hoodie')
        span Худи
  li
    a(href='')
      span
        svg(viewbox='0 0 48 48')
          use(xlink:href='#icon-bomber')
        span Бомберы
  li
    a(href='')
      span
        svg(viewbox='0 0 48 48')
          use(xlink:href='#icon-polo')
        span Поло
  li
    a(href='')
      span
        svg(viewbox='0 0 48 48')
          use(xlink:href='#icon-menShorts')
        span Шорты мужские
  li
    a(href='')
      span
        svg(viewbox='0 0 48 48')
          use(xlink:href='#icon-hat')
        span Шапки
  li
    a(href='')
      span
        svg(viewbox='0 0 48 48')
          use(xlink:href='#icon-mike')
        span Майки
  li
    a(href='')
      span
        svg(viewbox='0 0 48 48')
          use(xlink:href='#icon-fighterMike')
        span Майки борцовки
  li
    a(href='')
      span
        svg(viewbox='0 0 48 48')
          use(xlink:href='#icon-polo')
        span Поло
  li
    a(href='')
      span
        svg(viewbox='0 0 48 48')
          use(xlink:href='#icon-menShorts')
        span Шорты мужские
  li
    a(href='')
      span
        svg(viewbox='0 0 48 48')
          use(xlink:href='#icon-hat')
        span Шапки
  li
    a(href='')
      span
        svg(viewbox='0 0 48 48')
          use(xlink:href='#icon-mike')
        span Майки
  li
    a(href='')
      span
        svg(viewbox='0 0 48 48')
          use(xlink:href='#icon-fighterMike')
        span Майки борцовки
