ul
  li
    a(href='')
      span
        svg(viewbox='0 0 48 48')
          use(xlink:href='#icon-platie-s-manjetoy')
        span Футболки
  li
    a(href='')
      span
        svg(viewbox='0 0 48 48')
          use(xlink:href='#icon-platie-bez-rukavov')
        span Свитшоты
  li
    a(href='')
      span
        svg(viewbox='0 0 48 48')
          use(xlink:href='#icon-platie-s-rukavom')
        span Свитшоты
