.catalog
  .catalog__head.clearFix
    .catalog__name Наш <span>каталог</span>
    .catalog__breadCrumbs
      ul.catalog__breadCrumbs-list
        li.catalog__breadCrumbs-listItem 
          a Главная
        li.catalog__breadCrumbs-listItem 
          a Мужская одежда
      span.catalog__breadCrumbs-position Мужская одежда Исторические личности - разные
    
    include filters/filters.pug
    
  .catalog__topCollections
    include ../elements/circleCollections/circleCollections.pug
  .catalog__body
  
    
    .catalog__leftBar
      .catalog__leftBar-topInfo
        a.catalog__barButton.catalog__yourDesign Сделай свой дизайн
        a.catalog__barButton.catalog__action Спартак чемпион!

      include ../elements/collections/collections.pug
    
        
    .catalog__catalogList
      
      - var hoverDrop = true;  
      .catalog__newProducts.newProducts
        .newProducts__head
          h4.newProducts__sectionName Горячие новинки
          a.newProducts__showAll Смотреть все
        .newProducts__container
          .newProducts__catalogCard
            - for ( var i = 0; i < 4; i++ )
              include ../elements/newCatalogCard/catalogCard.pug
        
      .catalog__products.products
        .products__head
        .products__container
          .products__catalogCard
            - for ( var i = 0; i < 24; i++ )
              include ../elements/newCatalogCard/catalogCard.pug
      .catalog__controllers
        .catalog__pagination
          span.catalog__pagination-toggler
            a 1
          span.catalog__pagination-toggler
            a 2
          span.catalog__pagination-toggler
            a 3
          span.catalog__pagination-toggler.catalog__pagination-toggler--active
            a 4
          span.catalog__pagination-toggler
            a 5
          span.catalog__pagination-arrow.catalog__pagination-toggler
            svg(viewBox="0 0 48 48")
              use(xlink:href="#icon-arrow")
        .catalog__division
          span.catalog__division-text Выводить по
          span.catalog__division-toggler
            a 16
          span.catalog__division-toggler.catalog__division-toggler--active
            a 32
          span.catalog__division-toggler
            a 64
          span.catalog__division-toggler
            a 128
      
      
      - var hoverDrop = null;
