
.catalog [data-style="dropList"] {
  display: none;
  position: absolute;
  left:0;
  right:0;
  top:100%;
  text-align: center;
  z-index: 24;
  cursor: default;
  color:#4f4f4f;
}

.catalog [data-style="dropList"] ul {
  padding: 8px;
  background: #fff;
  font-size: 1em;
  display: inline-block;
  top:100%;
  box-shadow: 0 4px 64px rgba(0,0,0,0.15);
  border-radius:3px;
  position: relative;
  font-size: 0;
  white-space: normal;
  text-align: left;
}

.catalog [data-style="dropList"] li {
  border-radius: 3px;
  padding: 0;
  cursor: pointer;
  display: inline-block;
  font-size: .875rem;
}

.catalog [data-style="dropList"] li:hover {
  background: rgba(0,88,164,.1);
}
@media (--mobFix) {
  .catalog [data-style="dropList"] li:hover {
    background: rgba(0,0,0,0);
  }
}

/* ===== ========= =========== ============= ==============*/



.catalog__filters {
  display: table;
  width:50%;
  position: relative;
  z-index: 2;
}
@media (max-width:1024px) and (min-width:900px) {
  .catalog__filters {
    width:65%;
  }
}
@media (--tabFix) {
  .catalog__filters {
    padding: 0;
    margin: 0 auto;
    display: block;
  }
}
@media (--mobile) {
  .catalog__filters {
    width: 100%;
  }
}
.catalog__filters--helperForTable--tableRow {
  display: table-row;
}
.catalog__filters--helperForTable--tableCell {
  display: table-cell;
  text-align: right;
}
@media (--tabFix) {

  .catalog__filters--helperForTable--tableRow {
    display: flex;
    justify-content: center;
  }
  .catalog__filters--helperForTable--tableCell {
    display: block;
    margin:10px;
    min-width:155px;
  }
}
@media (--mobFix) {
  .catalog__filters {
    border-bottom: 1px solid #e0e0e0;
  }

}

.filter {
  box-sizing: border-box;
  display: table;
  height: 48px;
  white-space: nowrap;
  box-sizing: border-box;
  box-shadow: 0 0 2px rgba(0, 0, 0, .15);
  position: relative;
  text-align: center;
  font-size: 0.875em;
  display: flex;
  align-items: center ;
  justify-content: space-around;
  margin-right: 10px;

  & [data-style="dropList"] {
    display: none;
  }
}

@media (--tablet) {
  .filter {
    margin-right:8px;
  }
}
@media (--tabFix) {
  .filter {
    display: block;
    padding: 0;
    width:100%;
  }
}

.filter__input {
  display: none;

  &:checked ~ [data-style="dropList"] {
    display:block;
  }
}
.filter__label {
  vertical-align: middle;
  line-height: 48px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  padding: 0 10px;
  overflow: hidden;
}
.filter__variable {
  vertical-align: middle;

  & svg {
    width:32px;
    height:32px;
    fill: #e0e0e0;
    box-sizing: border-box;
    margin-right:6px;
    vertical-align: middle;
  }
}
@media (--mobFix) {
  .filter__variable {
    margin: 0 12px 0 6px;

    & svg {
      margin-right: 12px;
    }
  }
}
.filter__variable-text {
  vertical-align: middle;
  vertical-align: -5%;
  color:#0054a6;
  font-weight: 700;
  display: inline-block;
  max-width: 76px;
}
@media (--mobFix) {
  .filter__variable-text {
    color:inherit;
    font-weight: inherit;
  }
}
.filter__arrow {
  width:28px;
  min-width: 28px;
  height:32px;
  min-height: 32px;
  vertical-align: middle;
  padding:10px 8px;
  box-sizing: border-box;
  transform: rotate(90deg);
  transition: transform .2s ease;
  border-radius: 4px;
  background: rgba(255,255,255,.95);

}
.filter [data-style="dropList"] {
  /*single column + icons*/

  & ul {
    transform: translateX(-50%);
    position: absolute;
    left:50%;
  }

  & a {
    display: flex;
    align-items: center;
    padding: 4px;
  }

  & svg {
    width:32px;
    min-width:32px;
    height:32px;
    min-height:32px;
    padding: 2px 4px;
    fill: #bdbdbd;
  }

  & span {
    padding: 0 32px 0 8px;
    line-height: 1em;

  }


}
.filter.catalog__productType [data-style="dropList"] {

  & ul {
    width:320px;
  }

  & li {

    width:50%;
  }

}
.filter.catalog__popular .filter__variable svg {
  display: none;
}

@media (--mobFix) {
  .filter.catalog__popular .filter__variable svg {
    display: inline-block;
  }


  .filter.catalog__gender [data-style="dropList"] {

    & ul {
      width:320px;
    }

    & li {
      width:50%;
    }

  }

  .filter.catalog__popular [data-style="dropList"] {


    & li {
      display: block;
    }
  }
}
[name="showFiltersInCatalog"]:checked ~ label .filter__arrow{

  transform: rotateY(180deg) rotateZ(-90deg);
}
