
.catalog [data-style="dropList"] {
  display: none;
  position: absolute;
  left:0;
  right:0;
  top:100%;
  text-align: center;
  z-index: 24;
  cursor: default;
}

.catalog [data-style="dropList"] ul {
  padding: 8px;
  background: #fff;
  font-size: 1em;
  display: inline-block;
  top:100%;
  box-shadow: 0 4px 64px rgba(0,0,0,0.15);
  border-radius:3px;
  position: relative;
}

.catalog [data-style="dropList"] li {
  border-radius: 3px;
  padding: 0;
  cursor: pointer;
}

.catalog [data-style="dropList"] li:hover {
  background: rgba(0,88,164,.1);
}
/* ===== ========= =========== ============= ==============*/



.catalog__filters {
  display: table;
  width:50%;
  position: relative;
  z-index: 2;
}
@media (--tabFix) {
  .catalog__filters {
    padding: 0;
    margin: 0 auto;
    display: block;
  }
}
@media (--mobile) {
  .catalog__filters {
    width: 100%;
  }
}
.catalog__filters--helperForTable--tableRow {
  display: table-row;
}
.catalog__filters--helperForTable--tableCell {
  display: table-cell;
  text-align: right;
}
@media (--tabFix) {

  .catalog__filters--helperForTable--tableRow {
    display: flex;
    justify-content: center;
  }
  .catalog__filters--helperForTable--tableCell {
    display: block;
    margin:10px;
    min-width:150px;
  }
}


.filter {
  padding: 8px;
  width:50%;
  box-sizing: border-box;
  display: table;
  height: 48px;
  white-space: nowrap;
  box-sizing: border-box;
  box-shadow: 0 0 2px rgba(0, 0, 0, .15);
  position: relative;
  text-align: center;
  font-size: 0.875em;
  display: flex;
  align-items: center ;
  justify-content: space-around;
  width: 90%;

  & [data-style="dropList"] {
    display: none;
  }
}


@media (--tabFix) {
  .filter {
    display: block;
    padding: 0;
    width:100%;
  }
}

.filter__input {
  display: none;

  &:checked ~ [data-style="dropList"] {
    display:block;
  }
}
.filter__label {
  vertical-align: middle;
  line-height: 48px;
  padding: 0 0 0 10px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
}
.filter__variable {
  vertical-align: middle;

  & svg {
    width:32px;
    height:32px;
    box-sizing: border-box;
    padding:10px;
    vertical-align: middle;
  }
}
.filter__arrow {
  width:32px;
  min-width: 32px;
  height:32px;
  min-height: 32px;
  vertical-align: middle;
  padding:10px;
  box-sizing: border-box;
  transform: rotate(90deg);
  transition: transform .2s ease;
}
.filter [data-style="dropList"] {
  /*single column + icons*/

  & ul {
    transform: translateX(-50%);
    position: absolute;
    left:50%;
  }

  & a {
    display: flex;
    align-items: center;
    padding: 4px;
  }

  & svg {
    width:32px;
    height:32px;
    padding: 2px 4px;
  }

  & span {
    padding: 0 32px 0 8px;

  }


}
.filter.catalog__productType [data-style="dropList"] {

  & ul {
    width:320px;
  }

  & li {
    float: left;
    width:50%;
  }

}
@media (--mobFix) {
  .filter.catalog__gender [data-style="dropList"] {

    & ul {
      width:320px;
    }

    & li {
      float: left;
      width:50%;
    }

  }
}
[name="showFiltersInCatalog"]:checked ~ label .filter__arrow{

  transform: rotateY(180deg) rotateZ(-90deg);
}
