//-  инпут для мобилы, убрать если уйдет мобила. ТАм есть комент, куда этот инпут нужен.
input#showMenuMobile__FasXdFe(type='checkbox', name='showMenuMobile__FasXdFe')
.container__siteHeader
  include desktop/index.pug
  include mobile/index.pug
  
