

[data-style="InputForText"] {
  text-align: center;
  height: 48px;
  width:100%;
  color:inherit;
  font-size: 16px;
  border: 1px solid currentColor;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[data-style="InputForText"] span{
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  background: #fff;
  padding: 0 4px;
  order:1;
  transition: all .2s ease;
}
[data-style="InputForText"] input {
  display: block;
  width:100%;
  padding: 0;
  margin: 0;
  border: 0;
  text-align: center;
  font-size: inherit;
  height: 25px;
  line-height: 25px;
  order:2;
  transition: all .2s ease;
}
[data-style="InputForText"] input:focus ~ span {
  margin-top: -18px;
}
[data-style="InputForText"] input:focus {
  font-size: 22px;
  font-weight: bold;
  color:#4f4f4f;
  height: 30px;
  line-height: 30px;
}
[data-style="InputForText"] input::placeholder {
  color:#bdbdbd;
  transition: color .2s ease;
}
[data-style="InputForText"] input:focus::placeholder {
  color:#666;  
}
