[data-style="dropList"] {
  display: none;
  position: absolute;
  left:0;
  right:0;
  top:100%;
  text-align: center;
  z-index: 24;
  cursor: default;
}

[data-style="dropList"] ul {
  padding: 8px;
  background: #fff;
  font-size: 1em;
  display: inline-block;
  top:100%;
  box-shadow: 0 4px 64px rgba(0,0,0,0.15);
  border-radius: 3px;
}

[data-style="dropList"] li {
  border-radius: 3px;
  padding: 4px 12px;
  cursor: pointer;
}

[data-style="dropList"] li:hover {
  background: rgba(0,88,164,.1);
}
.sizeGrid {
  background: #4f4f4f;
  width:90px;
  margin: 0 auto;
  color:#fff;
  line-height: 1.2em;
  border-radius: 3px;
  padding: 8px 1px;
  box-sizing: border-box;
  cursor: pointer;
}
