@custom-media --not-tablet (min-width:1024.1px);
@custom-media --tablet (max-width:1024px);
@custom-media --mobile (max-width:480px);
.newCatalogCard {
	background: #fff;
	border-radius: 3px;
	z-index: 0;
	box-shadow: 0 4px 64px rgba(0, 0, 0, 0.05), 0 0 2px rgba(0, 0, 0, 0.15);
	transition: box-shadow .12s ease;
	color:#4f4f4f;
	position: relative;
  font-size: 1rem;
}
@media (--mobile) {
	.newCatalogCard {
	  font-size: 0.875rem;
	}
}
@media (--tablet) {
	.newCatalogCard {
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	}
}
@media (--not-tablet) {

	.newCatalogCard:hover {
		z-index: 10;
		border-radius: 3px 3px 0 0;
		box-shadow: 0 4px 64px rgba(0, 0, 0, 0.15), 0 0 2px rgba(0, 0, 0, 0.15);
		transition: box-shadow .4s ease;
	}

}
.newCatalogCard__link {
	display: block;
	text-decoration: none;
	background: #fff;
	position: relative;
	z-index: 2;
	border-radius: 3px;
	overflow: hidden;

}

.newCatalogCard__imageContainer {
	text-align: center;
	height:320px;
}
@media (--tablet) {
	.newCatalogCard__imageContainer {
		height:280px;
	}
}
@media (--mobile) {
	.newCatalogCard__imageContainer {
		height:230px;
	}
}
.newCatalogCard__image {
	max-width:100%;
	max-height:100%;
	vertical-align: middle;
	&.newCatalogCard__image--high {
		margin: 0 -100px;
		max-width: initial;
	}
}
.newCatalogCard__like {
	position: absolute;
	top:0;
	right:0;
	padding:5%;
	cursor: pointer;
	z-index: 3;
	width:10%;

	& svg {
		stroke: #bdbdbd;
		stroke-width: 2px;
		fill: none;
		width: 100%;
		height: auto;
		display: block;
	}
}
[name="newCatalogCard-like"] {
	display: none;
}
[name="newCatalogCard-like"]:checked ~ svg {
	fill:red;
	stroke-width:0;
}
.newCatalogCard__contentContainer {
	position: relative;
	text-align: center;
	padding-bottom: 10px;
}
@media (--tablet) {
	.newCatalogCard__contentContainer {
		padding-bottom: 0;
	}
}
.newCatalogCard__action {
	font-size: 0.75em;
	position: absolute;
  width: 92%;
  margin: 0 4%;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 32px rgba(0,0,0,.15);
  padding: 8px 4px;
  box-sizing: border-box;
  bottom: 100%;
	bottom:calc(100% - 8px);
  transform: translateY(50%);
	transform: translateY(calc(0));
	color:orange;

}
@media (--tablet) {
	.newCatalogCard__action {
		bottom: 100%;
	}
}
.newCatalogCard__price {
	letter-spacing: -.02em;
	font-family: 'Bebas';
	font-size: 1.5em;
	line-height: normal;
	text-align: center;
	padding: 20px 0 4px;
}
@media (--tablet) {
	.newCatalogCard__price{
		padding: 8px 0 0;
	}
}
.newCatalogCard__price-before,
.newCatalogCard__price-after {
	padding:0 4px;
}
.newCatalogCard__price-before {
	font-weight: 200;
	text-decoration: line-through;
}
.newCatalogCard__price-after {
	font-weight: 700;
	color: #0054a6;
}
.newCatalogCard__description {
	font-weight: 400;
	color: #666;
	font-size: .875em;
	line-height: 1.15em;
}
.newCatalogCard__description-productType,
.newCatalogCard__description-name {
	overflow: hidden;
	text-align: center;
	padding: 4px 0;
}
@media (--tablet) {
	.newCatalogCard__description-productType,
	.newCatalogCard__description-name {
		padding: 0;
	}
}
.newCatalogCard__description-name {
	font-weight: bold;
}
.newCatalogCard__description-productType {
	color:#bdbdbd;
}
.newCatalogCard__description > span {
	display: block;
}

.newCatalogCard__hoverContent {
	display: none;
	position: absolute;
	top:100%;
	z-index:1;
	left:0;
	width:100%;
	background: inherit;
	box-shadow: inherit;
	border-radius: 0 0 3px 3px;

}
@media (--tablet) {
	.newCatalogCard__hoverContent {
		display: block;
		position: relative;
		box-shadow: initial;
	}
}
@media (--not-tablet) {
	.newCatalogCard:hover .newCatalogCard__hoverContent {
		display: block;
	}
}


.newCatalogCard [data-style="button"] {
	padding:0px 12px 12px;
}
@media (--tablet) {
	.newCatalogCard [data-style="button"] {
		padding:8px;
	}
}
