




- var pictures = ['Рисунки и картинки','Посмотреть все','Dark','Abstraction','Art Core','Color','Мемы','Vegan','Надписи','Для мужчин','Черепа','Dark'];
    
ul.circleCollections
  - for ( var t = 0; t < pictures.length; t++ )
    li.circleCollections__item
      .circleCollections__collectionImage
        .circleCollections__text
