.autorization
  span.autorization--upTringle
  .autorization-head Вход в личный кабинет
  div(data-style='inputText')
    input#autorization-nickName(type='text')
    label(for='autorization-nickName') E-mail
  div(data-style='inputText')
    input#autorization-password(type='text')
    label(for='autorization-password') Пароль
  .autorization__buttons
    .autorization__buttonsContainer
      .data-style-button-autorization(data-style='button')
        button
          span Зарегистрироваться
      .data-style-button-autorization(data-style='button')
        button
          span Войти
  .autorization-getPass
    a(href='') Забыли пароль?
