nav.headerCatalog
  ul.headerCatalog__ul
    li.headerCatalog__li
      a(href='')
        span
          svg.headerCatalog__li-icon(viewbox='0 0 48 48')
            use(xlink:href='#icon-futbolki', fill='inherit')
          span.headerCatalog__li-text Футболки
      a(href='')
        span
          svg.headerCatalog__li-icon(viewbox='0 0 48 48')
            use(xlink:href='#icon-polo', fill='inherit')
          span.headerCatalog__li-text Поло
      a(href='')
        span
          svg.headerCatalog__li-icon(viewbox='0 0 48 48')
            use(xlink:href='#icon-leginsi', fill='inherit')
          span.headerCatalog__li-text Леггинсы
      a(href='')
        span
          svg.headerCatalog__li-icon(viewbox='0 0 48 48')
            use(xlink:href='#icon-shorti-muzhskie', fill='inherit')
          span.headerCatalog__li-text Шорты мужские
    li.headerCatalog__li
      a(href='')
        span
          svg.headerCatalog__li-icon(viewbox='0 0 48 48')
            use(xlink:href='#icon-hudi', fill='inherit')
          span.headerCatalog__li-text Худи
      a(href='')
        span
          svg.headerCatalog__li-icon(viewbox='0 0 48 48')
            use(xlink:href='#icon-platie-bez-rukavov', fill='inherit')
          span.headerCatalog__li-text Платья с рукавом
      a(href='')
        span
          svg.headerCatalog__li-icon(viewbox='0 0 48 48')
            use(xlink:href='#icon-ubka-karandash', fill='inherit')
          span.headerCatalog__li-text Юбки-карандаш
      a(href='')
        span
          svg.headerCatalog__li-icon(viewbox='0 0 48 48')
            use(xlink:href='#icon-shapki', fill='inherit')
          span.headerCatalog__li-text Шапки
    li.headerCatalog__li
      a(href='')
        span
          svg.headerCatalog__li-icon(viewbox='0 0 48 48')
            use(xlink:href='#icon-tolstovki', fill='inherit')
          span.headerCatalog__li-text Свитшоты
      a(href='')
        span
          svg.headerCatalog__li-icon(viewbox='0 0 48 48')
            use(xlink:href='#icon-platie-s-rukavom', fill='inherit')
          span.headerCatalog__li-text Платья без рукавов
      a(href='')
        span
          svg.headerCatalog__li-icon(viewbox='0 0 48 48')
            use(xlink:href='#icon-skirt1', fill='inherit')
          span.headerCatalog__li-text Юбки в складку
      a(href='')
        span
          svg.headerCatalog__li-icon(viewbox='0 0 48 48')
            use(xlink:href='#icon-mike', fill='inherit')
          span.headerCatalog__li-text Майки
    li.headerCatalog__li
      a(href='')
        span
          svg.headerCatalog__li-icon(viewbox='0 0 48 48')
            use(xlink:href='#icon-bomber', fill='inherit')
          span.headerCatalog__li-text Бомберы
      a(href='')
        span
          svg.headerCatalog__li-icon(viewbox='0 0 48 48')
            use(xlink:href='#icon-dress1', fill='inherit')
          span.headerCatalog__li-text Платья летние
      a(href='')
        span
          svg.headerCatalog__li-icon(viewbox='0 0 48 48')
            use(xlink:href='#icon-womanShorts', fill='inherit')
          span.headerCatalog__li-text Шорты женские
      a(href='')
        span
          svg.headerCatalog__li-icon(viewbox='0 0 48 48')
            use(xlink:href='#icon-fighterMike', fill='inherit')
          span.headerCatalog__li-text Майки борцовки
