.newProducts__head {
  color:#ff0037;
  border-bottom: 1px solid currentColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 31px 1% .5%;
  box-sizing: border-box;
}
.newProducts__sectionName {
  font-size: 18px;
  font-weight: bold;
  line-height: 23px;

}
.newProducts__showAll {
  font-size: 14px;
  color:#0054a6;
}
.newProducts__catalogCard{
  font-size: 0;
}

@media (--deskFix){
  .newProducts__catalogCard .catalogCard:nth-of-type(4) {
    display: none;
  }
}
@media (--mobFix){
  .newProducts__catalogCard .catalogCard:nth-of-type(3) {
    display: none;
  }
}
