.advantages {
  background: #F2F2F2;
  font-family: "PT Sans";
  width:100%;
  position: relative;
}

input[name="showBlockAdvantages"] {
  display: none;
}
input[name="showBlockAdvantages"]:nth-of-type(1):checked ~ .advantages__infoBlocks .advantages__infoBlocks-item:nth-of-type(1),
input[name="showBlockAdvantages"]:nth-of-type(2):checked ~ .advantages__infoBlocks .advantages__infoBlocks-item:nth-of-type(2),
input[name="showBlockAdvantages"]:nth-of-type(3):checked ~ .advantages__infoBlocks .advantages__infoBlocks-item:nth-of-type(3),
input[name="showBlockAdvantages"]:nth-of-type(4):checked ~ .advantages__infoBlocks .advantages__infoBlocks-item:nth-of-type(4),
input[name="showBlockAdvantages"]:nth-of-type(5):checked ~ .advantages__infoBlocks .advantages__infoBlocks-item:nth-of-type(5),
input[name="showBlockAdvantages"]:nth-of-type(6):checked ~ .advantages__infoBlocks .advantages__infoBlocks-item:nth-of-type(6){
  display: block;
}

.advantages__infoBlocks {
  position: absolute;
  color:#4f4f4f;
  top:0;
  width:100%;


}
input[name="showBlockAdvantages"]:checked ~ .advantages__cardsContainer {
  box-shadow: 0 4px 64px rgba(0,0,0,0.15)
}
.advantages__cardsContainer {
  position: relative;
  z-index: 9;
  transition:all .2s ease;
  background: #f2f2f2;
}
.advantages__infoBlocks-item {

  background: #fff;
  font-size: 14px;
  display: none;
  width:1200px;
  margin: 0 auto;
  box-shadow: 0 15px 62px rgba(0,0,0,0.15);
  transform: translateY(-100%);
  z-index: 6;

}

@media (max-width:1200px) {
  .advantages__infoBlocks-item {
    display: none !important;
  }
}

.advantages__infoBlocks-itemPhoto {
  width:500px;
  min-height:320px;
  float:left;

}
.advantages__infoBlocks-itemTexts {
  width:700px;
  float:left;
  padding: 32px 80px 0;
  box-sizing: border-box;
}
.advantages__infoBlock-itemHead {
  font-size: 32px;
  font-weight: bold;
  color:#0054a6;
  padding: 4px 40px 16px 0;
}
.advantages__infoBlock-itemHead ~ p {
  line-height: 1.2em;
  padding: 6px 0;

  & span {
    font-weight: bold;
  }
  & a {
    color:#0054a6;
    font-weight: bold;
    &:hover {
      opacity:.8;
    }
  }
}
.advantages__infoBlock-itemHead ~ ul {
  padding: 10px 30px;
  line-height: 1.4em;
}
.advantages__infoBlocks-moreInfo {
  color:#0054a6;
  padding: 30px 30px 20px;
  font-weight: bold;
  & a {
    vertical-align: middle;
  }
  & a:hover:after {
    margin-left:8px;
  }

  & a:after {
    content:'';
    background: url(../images/arrowRightAdvantages.svg) no-repeat center center;
    padding: 10px;
    margin-left: 2px;
    margin-top:-2px;
    display: inline-block;
    vertical-align: middle;
    transition: all .2s ease;
  }
}
.advantages__infoBlocks-moreInfo:after {
  content:'';
}
.advantages__infoBlocks-item--close {
  text-align: right;
  cursor: pointer;
  color:#0054a6;
}

















/* =======================================================*/
.advantages__cards {
  font-size: 0;
  max-width: 1200px;
  margin:auto;
  position: relative;
  color:#bdbdbd;
  display: flex;
}
.advantages__cards-item {
  display: inline-block;
  vertical-align: top;
  width:16.666%;
  font-size: 1rem;
  text-align: center;
  padding: 16px 0;
  margin:16px 0;
  box-shadow: 0 0px 0px rgba(0,0,0,0.15);
  cursor: pointer;
}
@media (max-width:1000px) {
  .advantages__cards {
    display: block;
    max-width: 650px;
  }
  .advantages__cards-item {
    width:33.333%;
  }
}
@media (max-width:500px) {
  .advantages__cards-item {
    width:50%;
  }
}
.advantages__cards-svgConteiner {
  width:55%;
  padding-bottom: 55%;

  position: relative;
  margin:0px auto;

  & svg {
    fill:currentColor;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
.advantages__cards-moreInfo {
  padding: 4px 20px 16px;
  display: inline-block;
  visibility: hidden;
  font-size: 0.875em;
}
.advantages__cards-text {
  padding: 30px 20px 10px;
  font-size: 0.875em;
  line-height: 1.3em;
  letter-spacing: 0.02em;
}
