

@media (min-width:1200px) {

  .advantages__cards-item:hover {
    color:#0054a6;
    cursor: pointer;
    transition: box-shadow .2s ease;
  }
  input[name="showBlockAdvantages"]:nth-of-type(1):checked ~ .advantages__cardsContainer .advantages__cards-item:nth-of-type(1),
  input[name="showBlockAdvantages"]:nth-of-type(2):checked ~ .advantages__cardsContainer .advantages__cards-item:nth-of-type(2),
  input[name="showBlockAdvantages"]:nth-of-type(3):checked ~ .advantages__cardsContainer .advantages__cards-item:nth-of-type(3),
  input[name="showBlockAdvantages"]:nth-of-type(4):checked ~ .advantages__cardsContainer .advantages__cards-item:nth-of-type(4),
  input[name="showBlockAdvantages"]:nth-of-type(5):checked ~ .advantages__cardsContainer .advantages__cards-item:nth-of-type(5),
  input[name="showBlockAdvantages"]:nth-of-type(6):checked ~ .advantages__cardsContainer .advantages__cards-item:nth-of-type(6) {
    background: #fff;
    box-shadow: 0 14px 16px rgba(0,0,0,0.15);
    border-radius: 3px;
    color:#0054a6;
    cursor: default;
    transition: box-shadow .2s ease;
  }
  .advantages__cards-item:hover .advantages__cards-text,
  .advantages__cards-item--active .advantages__cards-text {
    font-weight: bold;
  }

  input[name="showBlockAdvantages"]:checked ~ .advantages__cardsContainer {
    box-shadow: 0 4px 64px rgba(0,0,0,0.15)
  }
}

.advantages__cards-moreInfo:hover {
  cursor: pointer;
}

.advantages__cards-item:hover .advantages__cards-moreInfo,
.advantages__cards-item--active .advantages__cards-moreInfo {
  visibility: visible;
}
@media (max-width:1200px) {
  .advantages__cards-item .advantages__cards-moreInfo {
      visibility: hidden !important;
  }

}
