- var names = ['gwgtg','GgmKoI','FzpKi','FqegGG','ZXfdWe','Mkofeo'];
.advantages
  each name in names 
    input(id= 'showBlock__' + name type="radio" name="showBlockAdvantages")
      

  .advantages__infoBlocks
    .advantages__infoBlocks-item.clearFix
      .advantages__infoBlocks-itemPhoto
        <iframe width="500" height="315" src="https://www.youtube.com/embed/MB20vEU3oy0" frameborder="0" allowfullscreen></iframe>
      .advantages__infoBlocks-itemTexts
        .advantages__infoBlocks-item--close Закрыть
        .advantages__infoBlock-itemHead Придумано и сделано в России
        p.
          Все изделия производятся на нашем производстве в г.Москва индивидуально под заказ клиента в течение 48 часов по итальянским лекалам. 
        p.
          Изображение получается ярким и насыщенным, фотографического качества. Принт не ограничен в площади нанесения на ткань – мы печатаем на всей поверхности изделия.
        .advantages__infoBlocks-moreInfo
          a Подробнее о компании и производстве
            
    .advantages__infoBlocks-item.clearFix
      .advantages__infoBlocks-itemPhoto(style="background: url(images/card2.jpg) no-repeat center center;")
      .advantages__infoBlocks-itemTexts
        .advantages__infoBlocks-item--close Закрыть
        .advantages__infoBlock-itemHead У нас более 60 000 довольных клиентов
        p.
          Только ручная работа гарантирует нашим изделиям должное качество и удобство в носке. Мы не идем на компромисы в попытке удешевить производство. PRINT BAR работает с заботой о клиентах. Поэтому на нашем производстве 3х этапный контроль качества на произво, который начи
        p Лучшей оценкой наших стараний являются ваши <a>отзывы</a> и пожелания.
    
    .advantages__infoBlocks-item.clearFix
      .advantages__infoBlocks-itemPhoto(style="background: url(images/card3.jpg) no-repeat center center;")
      .advantages__infoBlocks-itemTexts
        .advantages__infoBlocks-item--close Закрыть
        .advantages__infoBlock-itemHead Принт не выцветает даже после 300 стирок
        p
          span Лучшие ткани.
          | &nbsp;Мы используем высококачественные гипоаллергенные ткани от ведущих мировых производителей. Уникальный состав ткани обеспечивает стойкость и долговечность изображения.
        p
          span Высокая долговечность.
          | &nbsp;Краска проникает глубоко в волокна ткани, благодаря методу сублимационной печати. Рисунок не смоется и не потускнеет даже после нескольких сотен стирок.
        .advantages__infoBlocks-moreInfo
          a Смотреть часто задаваемые вопросы

    .advantages__infoBlocks-item.clearFix
      .advantages__infoBlocks-itemPhoto(style="background: url(images/card4.png) no-repeat center center;")
      .advantages__infoBlocks-itemTexts
        .advantages__infoBlocks-item--close Закрыть
        .advantages__infoBlock-itemHead Гибкая система доставки
        p.
          Мы доставим Ваш заказ в любую точку России и Мира 
          удобным для Вас способом:
        ul
          li а) Доставка курьерскими службами до двери;
          li б) Доставка до пунктов самовывоза по всей России;
          li в) Доставка Почтой России (первый класс).
        .advantages__infoBlocks-moreInfo
          a Подробнее о доставке
    
    .advantages__infoBlocks-item.clearFix
      .advantages__infoBlocks-itemPhoto(style="background: url(images/card5.png) no-repeat center center;")
      .advantages__infoBlocks-itemTexts
        .advantages__infoBlocks-item--close Закрыть
        .advantages__infoBlock-itemHead Удобная система оплаты
        ul
          li а) Наличными курьеру и в пунктах самовывоза по всей России;
          li б) Банковской картой Visa и MasterCard на сайте;
          li в) Электронными деньгами Yandex и Webmoney;
          li г) Через платежные терминалы QiWi;
          li д) В салонах связи Евросеть и Связной.

        .advantages__infoBlocks-moreInfo
          a Подробнее о оплате
    .advantages__infoBlocks-item.clearFix
      .advantages__infoBlocks-itemPhoto(style="background: url(images/card6.png) no-repeat center center;")
      .advantages__infoBlocks-itemTexts
        .advantages__infoBlocks-item--close Закрыть
        .advantages__infoBlock-itemHead Легкий обмен и возврат
        p.
          Товар, заказанный на Printbar.ru и не подошедший по каким-либо причинам (фасон, размер, цвет), может быть возвращен в течение 14 дней, не считая дня покупки.
        .advantages__infoBlocks-moreInfo
          a Подробнее о условиях возврата
            
  .advantages__cardsContainer
    .advantages__cards
      -
        var cards = [
            {photoName: 'rus',text: 'Сделано и придумано в России'},
            {photoName: 'like',text: 'У нас более 10 000 довольных клиентов'},
            {photoName: 'wash',text: 'Принт не выцветает даже после 300 стирок'},
            {photoName: 'deli',text: 'Гибкая система доставки'},
            {photoName: 'card',text: 'Удобная система оплаты'},
            {photoName: 'shield',text: 'Гарантия возврата'}
          ];
      - var count = 0;
      each item in cards
        
        label.advantages__cards-item(for='showBlock__' + names[count++])
          span.advantages__cards-moreInfo Подробнее
          .advantages__cards-svgConteiner
            svg
              use(xlink:href='images/advantageIcons.svg#' + item.photoName)
          p.advantages__cards-text #{item.text}
      
      
