
section.productCard
  div.productCard__topLine
    nav.productCard__navigation
      ul.productCard__navigation-list
        li.productCard__navigation-listItem
          a Главная
        li.productCard__navigation-listItem
          a Не очень главная
    span.productCard-art
      |Арт.: VSY-236332-fut-2
  div.productCard__content
    div.productCard__left
      div
        a.productCard-back
          svg(viewBox="0 0 48 48")
            use(xlink:href="#icon-arrow")
          span Назад
      span.productCard__left-productType Мужское поло
      ul.productCard__miniPhotos-list
        
        li.productCard__miniPhotos-listItem.productCard__miniPhotos-listItem--active
          img.productCard-image(src="images/shirt.png")
            
        li.productCard__miniPhotos-listItem
          img.productCard-image(src="images/shirt.png")
            
        li.productCard__miniPhotos-listItem
          img.productCard-image(src="images/shirt.jpg")
            
    div.productCard__center
      div.productCard__imageContainer
        img.productCard-bigImage(src="images/shirt.png")
        
        span.productCard-saleSticker -30%
        
        a.productCard-download
          svg( version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 512 512")
            path( d="M480.6,341.4c-11.3,0-20.4,9.1-20.4,20.4v98.4H51.8v-98.4c0-11.3-9.1-20.4-20.4-20.4c-11.3,0-20.4,9.1-20.4,20.4v118.8    c0,11.3,9.1,20.4,20.4,20.4h449.2c11.3,0,20.4-9.1,20.4-20.4V361.8C501,350.5,491.9,341.4,480.6,341.4z")
            path( d="m241,365.6c11.5,11.6 25.6,5.2 29.9,0l117.3-126.2c7.7-8.3 7.2-21.2-1.1-28.9-8.3-7.7-21.2-7.2-28.8,1.1l-81.9,88.1v-265.2c0-11.3-9.1-20.4-20.4-20.4-11.3,0-20.4,9.1-20.4,20.4v265.3l-81.9-88.1c-7.7-8.3-20.6-8.7-28.9-1.1-8.3,7.7-8.7,20.6-1.1,28.9l117.3,126.1z")

          
        .shirt__like(data-id='', style='top: 32px; right: 32px; left: auto; width: 40px; height: 40px;')
          svg.shirt__like--desktop(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 30 30')
            path.shirt__like-path.shirt__like-path1(d='M20.5,5A6.07,6.07,0,0,0,15,8.75,6.07,6.07,0,0,0,9.5,5,5.46,5.46,0,0,0,4,10.63C4,15,8.28,18.75,15,25c6.72-6.25,11-10,11-14.37A5.46,5.46,0,0,0,20.5,5Z')
            path.shirt__like-path.shirt__like-path2(d='M20.5,5A6.07,6.07,0,0,0,15,8.75,6.07,6.07,0,0,0,9.5,5,5.46,5.46,0,0,0,4,10.63C4,15,8.28,18.75,15,25c6.72-6.25,11-10,11-14.37A5.46,5.46,0,0,0,20.5,5Z')

      
      div.productCard__printOnOtherClothes
        div.productCard__printOnOtherClothes-text
          div.productCard__printOnOtherClothes-links
            a.productCard__printOnOtherClothes-linkGender.productCard__printOnOtherClothes-linkGender--active(href="/") 
              | Мужчинам
            | / 
            a.productCard__printOnOtherClothes-linkGender(href="/") Женщинам
            | / 
            a.productCard__printOnOtherClothes-linkGender(href="/") Мальчикам
            | / 
            a.productCard__printOnOtherClothes-linkGender(href="/") Девочкам
        div.productCard__printOnOtherClothes-carousel
          div.productCard__printOnOtherClothes-carouselItem
            a
              svg(viewBox="0 0 48 48")
                use(xlink:href="#icon-futbolki")
              span Футболка
          div.productCard__printOnOtherClothes-carouselItem
            a
              svg(viewBox="0 0 48 48")
                use(xlink:href="#icon-bomber")
              span Бомбер
          div.productCard__printOnOtherClothes-carouselItem.productCard__printOnOtherClothes-carouselItem--active
            a
              svg(viewBox="0 0 48 48")
                use(xlink:href="#icon-hudi")
              span Худи
          div.productCard__printOnOtherClothes-carouselItem
            a
              svg(viewBox="0 0 48 48")
                use(xlink:href="#icon-polo")
              span Поло
          div.productCard__printOnOtherClothes-carouselItem
            a
              svg(viewBox="0 0 48 48")
                use(xlink:href="#icon-mayki")
              span Майка
          div.productCard__printOnOtherClothes-carouselItem
            a
              svg(viewBox="0 0 48 48")
                use(xlink:href="#icon-mayki")
              span Майка
          div.productCard__printOnOtherClothes-carouselItem
            a
              svg(viewBox="0 0 48 48")
                use(xlink:href="#icon-mayki")
              span Майка
  
    
    
    div.productCard__right
      div.productCard__mobileCarouselAndBuyBlock
        //- для мобилы
        div.productCard__imageContainer-carouselContainer
          span.productCard-saleSticker -30%
          .shirt__like(data-id='', style='top: 32px; right: 32px; left: auto; width: 40px; height: 40px;')
            svg.shirt__like--desktop(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 30 30')
              path.shirt__like-path.shirt__like-path1(d='M20.5,5A6.07,6.07,0,0,0,15,8.75,6.07,6.07,0,0,0,9.5,5,5.46,5.46,0,0,0,4,10.63C4,15,8.28,18.75,15,25c6.72-6.25,11-10,11-14.37A5.46,5.46,0,0,0,20.5,5Z')
              path.shirt__like-path.shirt__like-path2(d='M20.5,5A6.07,6.07,0,0,0,15,8.75,6.07,6.07,0,0,0,9.5,5,5.46,5.46,0,0,0,4,10.63C4,15,8.28,18.75,15,25c6.72-6.25,11-10,11-14.37A5.46,5.46,0,0,0,20.5,5Z')

            
          div.productCard__imageContainer-carousel
            img(src="images/shirt.png" width="100%" style="display:block;")
            img(src="images/shirt.jpg" width="100%" style="display:block;")
            img(src="images/shirt.png" width="100%" style="display:block;")
            img(src="images/shirt.jpg" width="100%" style="display:block;")
            

        //- конец для мобилы
        include buyBlock/index.pug
        
      include about/index.pug
        //- мобильная карусель
      div.productCard__printOnOtherClothes
        div.productCard__printOnOtherClothes-text
          span Этот принт на другой одежде
          div.productCard__printOnOtherClothes-links
            a.productCard__printOnOtherClothes-linkGender.productCard__printOnOtherClothes-linkGender--active(href="/") 
              | Мужчинам
            a.productCard__printOnOtherClothes-linkGender(href="/") Женщинам
            a.productCard__printOnOtherClothes-linkGender(href="/") Мальчикам
            a.productCard__printOnOtherClothes-linkGender(href="/") Девочкам
        div.productCard__printOnOtherClothes-carousel
          div.productCard__printOnOtherClothes-carouselItem
            a
              svg(viewBox="0 0 48 48")
                use(xlink:href="#icon-futbolki")
              span Футболка
          div.productCard__printOnOtherClothes-carouselItem
            a
              svg(viewBox="0 0 48 48")
                use(xlink:href="#icon-bomber")
              span Бомбер
          div.productCard__printOnOtherClothes-carouselItem.productCard__printOnOtherClothes-carouselItem--active
            a
              svg(viewBox="0 0 48 48")
                use(xlink:href="#icon-hudi")
              span Худи
          div.productCard__printOnOtherClothes-carouselItem
            a
              svg(viewBox="0 0 48 48")
                use(xlink:href="#icon-polo")
              span Поло
          div.productCard__printOnOtherClothes-carouselItem
            a
              svg(viewBox="0 0 48 48")
                use(xlink:href="#icon-mayki")
              span Майка
          div.productCard__printOnOtherClothes-carouselItem
            a
              svg(viewBox="0 0 48 48")
                use(xlink:href="#icon-mayki")
              span Майка
          div.productCard__printOnOtherClothes-carouselItem
            a
              svg(viewBox="0 0 48 48")
                use(xlink:href="#icon-mayki")
              span Майка
      //- Конец мобильной карусели 
      include reviews/index.pug
        
  
  - var bigPrintsCarouselText = 'Рекомендуем';
  include ../elements/pigPrintsCarousel/pigPrintsCarousel.pug 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
