div.productCard__about
  input#productCard__about-show1(type='radio' name='productCard__about-show' checked)
  input#productCard__about-show2(type='radio' name='productCard__about-show')
  input#productCard__about-show3(type='radio' name='productCard__about-show')
  div.productCard__about-togglers
    label(for='productCard__about-show1') Характеристики
    label(for='productCard__about-show2') Гарантии <span class="">продавца</span>
    label(for='productCard__about-show3') Об изделии
  div.productCard__about-preferencesContainer
      span.productCard__about-tringleBefore
      span.productCard__about-tringle
      span.productCard__about-tringleAfter
        
      div.productCard__features
        .productCard__features-madeInRussia
          svg(viewBox="0 0 48 48")
            use(xlink:href="#icon-rus")
          span Придумано и сделано в России
        ul.productCard__about-table
          li.productCard__about-tableRow
            span.productCard__about-tableCell Детали<br> изделия
            span.productCard__about-tableCell Карманы, капюшон, сетка в капюшоне
              
          li.productCard__about-tableRow
            span.productCard__about-tableCell Принт
            span.productCard__about-tableCell Выдерживает неограниченное колличество стирок
              
          li.productCard__about-tableRow
            span.productCard__about-tableCell Качество
            span.productCard__about-tableCell Экологичная ULTRA HD печать
              
          li.productCard__about-tableRow
            span.productCard__about-tableCell Ткань
            span.productCard__about-tableCell Футер 300мг алкоголя в крови
      div.productCard__safeGuard
        ul.productCard__about-guarantee
          li.productCard__about-guaranteeList
            svg(viewBox="0 0 48 48") 
              use(xlink:href="#icon-wash")
            span Принт не выцветает даже после 300 стирок
          li.productCard__about-guaranteeList
            svg(viewBox="0 0 48 48") 
              use(xlink:href="#icon-shield")
            span Легкий обмен и возврат в течение 7 дней
          li.productCard__about-guaranteeList
            svg(viewBox="0 0 48 48") 
              use(xlink:href="#icon-like")
            span Полный возврат, если вы не получили товар
          li.productCard__about-guaranteeList
            svg(viewBox="0 0 48 48") 
              use(xlink:href="#icon-deli")
            span Быстрая доставка по РФ и СНГ
              
      div.productCard__opt
        p Оптовые цены при заказе от 15 000 рублей
        p Скидки до 70% / Бесплатная разработка дизайна
        form
          ul.productCard__about-optUl
            
            li.productCard__about-optListItem
              - var inputName = 'Ваше имя';
              - var inputPlaceholder = 'Имя';
              include ../../elements/inputForText/index.pug
            li.productCard__about-optListItem
              - var inputName = 'Ваш телефон';
              - var inputPlaceholder = '+ 7 (ХХХ) ХХХ-ХХ-ХХ';
              include ../../elements/inputForText/index.pug
            li.productCard__about-optListItem
              - var inputName = 'Ваш e-mail';
              - var inputPlaceholder = 'info@e-mail.ru';
              include ../../elements/inputForText/index.pug
          button Получить прайс лист
          
        div Оптовый отдел - 5/2 09:00-19:00
        div 
          a(href="tel:+74956680761") +7 (495) 668-07-61 
          a(href="mailto:opt@myprintbar.ru") opt@myprintbar.ru
          
              












      
